@import "../../../styles/themes";
@import "../../../styles/mixins";

.featured-projects-section-container {
  width: 100%;
  padding-top: 50px;
  @include flexCenter;
  flex-direction: column;
  @include mainHeaderStyles;

  .featured-projects-content-container {
    width: 80%;
    @include flexCenter;
    flex-direction: column;

    .featured-project-tile {
      width: 75%;
      margin: 50px 0 120px;
      position: relative;
    }

    @media screen and (max-width: 1024px) {
      .featured-project-tile {
        width: 90%;
      }
    }

    @media screen and (max-width: 768px) {
      .featured-project-tile {
        width: 100%;
        border-radius: 20px;
        border: 2px solid $cardParagraph;
        margin-bottom: 50px;
      }
    }

    @media screen and (max-width: 480px) {
      width: 85%;
    }
  }
}
