@import "../../../styles/themes";
@import "../../../styles/mixins";

.featured-projects-section-container {
  width: 100%;
  padding: 10vh 0px;
  // border: 1px solid red;
  text-align: center;
  @include mainHeaderStyles;

  .featured-projects-content-container {
    text-align: start;
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    // border: 1px dashed lightgoldenrodyellow;

    display: flex;
    flex-direction: column;
  }
}
