@import "../../../styles/themes";
@import "../../../styles/mixins";

.featured-projects-section-container {
  width: 100%;
  padding-top: 50px;
  @include flexCenter;
  flex-direction: column;
  @include mainHeaderStyles;

  .featured-projects-content-container {
    width: 80%;
    @include flexCenter;
    flex-direction: column;

    .featured-project-tile {
      width: 75%;
      margin: 60px 0;
      position: relative;
    }
  }
}
