@import "../../styles/themes";
@import "../../styles/mixins";

.info-card-container {
  &.featured {
    width: 375px;
    min-height: 350px;
    position: absolute;
    right: -20%;
    top: 35%;
    display: flex;
    flex-direction: column;
    background-color: $cardBg;
    border-radius: 10px;
    border: 1px solid $cardParagraph;

    &:hover {
      filter: drop-shadow(0 0 0.35rem $cardParagraph);
    }

    .card-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px 0 15px;

      .card-title {
        margin: 0;
        width: 75%;
        font-size: 1.75rem;
        text-align: start;
        font-weight: 700;
      }

      .links-container {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        .link {
          @include flexCenter;
          margin: 7px;
          color: $paragraphColor;
          font-size: 1.5em;

          &:hover {
            color: $hoverColor;
          }
        }
      }
    }

    .card-languages {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px 15px;

      .card-lang {
        margin-right: 8px;
        color: $cardHightlight;
      }
    }

    .card-text {
      width: 100%;
      padding: 10px 15px;
      text-align: start;

      * {
        margin: 0;
        padding: 0;
        color: $cardParagraph;
        font-size: 1.15rem;
      }

      a {
        color: $linksColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .card-tags {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 10px;

      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: flex-end;

      .card-tag {
        margin: 5px;
        padding: 5px 10px;
        background-color: $cardTagBg;
        border-radius: 10px;
        font-size: 0.95rem;
      }
    }
  }

  &.fun {
    width: 325px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $cardBg;
    border-radius: 0 0 20px 20px;
    overflow: hidden;

    .card-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px 0 15px;

      .card-title {
        margin: 0;
        width: 80%;
        font-size: 1.3em;
        text-align: start;
        font-weight: 700;
      }

      .links-container {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        .link {
          @include flexCenter;
          margin: 5px;
          color: $paragraphColor;
          font-size: 1.1em;

          &:hover {
            color: $hoverColor;
          }
        }
      }
    }

    .card-languages {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px 15px;

      .card-lang {
        margin-right: 8px;
        font-size: 0.85rem;
        color: $cardHightlight;
      }
    }

    .card-text {
      width: 100%;
      padding: 10px 15px;
      text-align: start;

      * {
        margin: 0;
        padding: 0;
        color: $cardParagraph;
      }

      a {
        color: $linksColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .card-tags {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 10px;

      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: flex-end;

      .card-tag {
        margin: 5px;
        padding: 5px 10px;
        background-color: $cardTagBg;
        border-radius: 10px;
        font-size: 0.8rem;
      }
    }
  }
}
