@import "../../styles/themes";
@import "../../styles/mixins";

.not-found-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  padding-top: 70px;

  .not-found-content-container {
    text-align: center;
    width: 85%;
    margin: 0 auto;

    .not-found-img-container {
      width: 100%;

      img {
        width: 275px;
        height: 275px;
      }
    }

    .notfound-maintitle {
      font-size: 2.75rem;
      line-height: 1.5rem;
    }

    .notfound-subtitle {
      font-size: 1.75rem;
      color: $subHeadlineColor;
    }

    .custom-btn-container {
      margin-top: 20px;
      padding: 15px 30px;
      font-size: 1.25rem;
    }

    @media screen and (max-width: 480px) {
      .not-found-img-container {
        img {
          width: 250px;
          height: 250px;
        }
      }

      .notfound-maintitle {
        font-size: 2.25rem;
        line-height: 1.25rem;
      }

      .notfound-subtitle {
        font-size: 1.25rem;
      }

      .custom-btn-container {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 320px) {
      .not-found-img-container {
        img {
          width: 200px;
          height: 200px;
        }
      }

      .notfound-maintitle {
        font-size: 2rem;
        line-height: 1.25rem;
      }

      .notfound-subtitle {
        font-size: 1.1rem;
      }

      .custom-btn-container {
        margin-bottom: 20px;
        padding: 5px 10px;
        font-size: 0.8rem;
      }
    }
  }
}
