// Main Color Set
$bgColor: #0f0e17;
$headlineColor: #fffffe;
$subHeadlineColor: #e53170;
$paragraphColor: #a7a9be;
$linksColor: #ff8906;
$hoverColor: #ff8906;
$btnBgColor: #ff8906;
$btnTextColor: #fffffe;

// card Color Set
$cardBg: #242629;
$cardParagraph: #a7a9be;
$cardTagBg: #ff8906;
$cardTagText: #fffffe;
$cardHightlight: #e53170;
$cardBorder: #e53170;
