// Main Color Set
$bgColor: #0f0e17;
$headlineColor: #fffffe;
$subHeadlineColor: #e53170;
$paragraphColor: #a7a9be;
$linksColor: #ff8906;
$hoverColor: #ff8906;
$btnBgColor: #ff8906;
$btnTextColor: #fffffe;

// Sub Color Set
$cardBg: #fffffe;
$cardHeadline: #0f0e17;
$cardParagraph: #2e2f3e;
$cardTagBg: #ff8906;
$cardTagText: #fffffe;
$cardHightlight: #e53170;
$cardBtnBg: #e53170;
$cardBtnText: #fffffe;
