@import "../../styles/mixins";
@import "../../styles/themes";

.social-container {
  @include flexCenter;

  .social-btn {
    @include flexCenter;
    margin: 0px 20px;
    font-size: 1.5rem;

    &:hover {
      * {
        color: $hoverColor;
      }
    }
  }

  &.hero {
    justify-content: flex-start;
    margin-right: 15px;

    .social-btn {
      font-size: 1.6rem;
    }

    @media screen and (max-width: 768px) {
      margin: 10px 0px;
      .social-btn {
        margin: 0px 15px;
        font-size: 1.3rem;
      }
    }
  }

  &.footer {
    @media screen and (max-width: 480px) {
      .social-btn {
        font-size: 1.25rem;
      }
    }
  }
}
