@import "../../styles/themes";

.custom-btn-container {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: $btnBgColor;
  padding: 10px 15px;
  cursor: pointer;
  color: $btnTextColor;
  font-size: 16px;
  width: auto;
  height: auto;
  text-transform: uppercase;

  &:hover {
    background-color: $btnTextColor;
    color: $btnBgColor;
    border: 2px solid $btnBgColor;
  }
}
