@import "../../styles/themes";

.custom-btn-container {
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: $btnBgColor;
  padding: 10px 15px;
  cursor: pointer;
  color: $btnTextColor;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &:hover {
    background-color: $btnTextColor;
    color: $btnBgColor;
    border: 2px solid $btnBgColor;
  }

  &.hero {
    min-width: 165px;
    padding: 15px;
    letter-spacing: 2px;

    @media screen and (max-width: 480px) {
      padding: 10px 0px;
      letter-spacing: 1.5px;
    }
  }
}
