@import "../../../styles/themes";
@import "../../../styles/mixins";

.about-section-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 70px 0px;

  @include mainHeaderStyles;

  .about-content-container {
    width: 80%;
    margin: 0 auto;
    @include flexCenter;

    .introduction {
      margin: 0 30px;
      width: 50%;
      @include paragraphStyles;
      text-align: left;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .avatar-container {
      width: 50%;

      img {
        width: 275px;
        border-radius: 50%;
        border: 2px solid $cardHightlight;
      }
    }

    @media all and (max-width: 768px) {
      width: 90%;
      flex-direction: column-reverse;

      .introduction {
        width: 90%;
        margin: 20px;
        font-size: 1.15rem;
        line-height: 1.3rem;
      }

      .avatar-container {
        width: 100%;

        img {
          width: 225px;
        }
      }
    }

    @media all and (max-width: 480px) {
      .introduction {
        margin: 15px;
        font-size: 1.1rem;
        line-height: 1.25rem;
      }

      .avatar-container {
        width: 100%;

        img {
          width: 175px;
        }
      }
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1280px) and (orientation: portrait) {
    min-height: 0;
  }
}
