@import "../../../styles/themes";
@import "../../../styles/mixins";

.skills-section-container {
  width: 100%;
  @include flexCenter;

  .skills-content-container {
    width: 80%;
    padding: 30px 0;
    @include mainHeaderStyles;

    @include flexCenter;
    flex-direction: column;
  }
}
