@import "../../../styles/mixins";
@import "../../../styles/themes";

.contact-section-container {
  width: 100%;
  padding: 40px 0px;
  @include flexCenter();

  .contact-content-container {
    width: 650px;
    text-align: center;

    @include mainHeaderStyles;

    .group {
      position: relative;
      margin: 30px 0;

      .form-input {
        width: 100%;
        background: none;
        color: $paragraphColor;
        font-size: 1.15rem;
        padding: 5px 10px 5px 5px;
        display: block;
        border: none;
        border-bottom: 1px solid $paragraphColor;

        &.textarea {
          border: 1px solid $paragraphColor;
          border-radius: 10px;
        }

        &:focus {
          outline: none;
        }

        &:focus ~ .form-input-label {
          @include shrinkLabel();
        }
      }

      .form-input-label {
        color: $paragraphColor;
        font-size: 0.9rem;
        position: absolute;
        left: 10px;
        top: 5px;
        transition: 300ms ease all;

        &.shrink {
          @include shrinkLabel();
        }
      }
    }

    @media screen and (max-width: 768px) {
      width: 430px;
    }

    @media screen and (max-width: 480px) {
      width: 300px;
    }
  }
}
