@import "../../styles/mixins";
@import "../../styles/themes";

.contact-content-container {
  width: 50%;
  margin: 0px auto;
  padding: 0.6em;
  // border: 2px solid blue;

  @include mainHeaderStyles;

  .group {
    position: relative;
    margin: 35px 0;

    .form-input {
      background: none;
      color: $paragraphColor;
      font-size: 1.15rem;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $paragraphColor;
      margin: 25px 0;

      &.textarea {
        border: 1px solid $paragraphColor;
      }

      &:focus {
        outline: none;
      }

      &:focus ~ .form-input-label {
        @include shrinkLabel();
      }
    }

    .form-input-label {
      color: $paragraphColor;
      font-size: 0.9rem;
      position: absolute;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;

      &.shrink {
        @include shrinkLabel();
      }
    }
  }
}
