@import "../../styles/mixins";
@import "../../styles/themes";

.footer-container {
  width: 100%;

  .social-container {
    @include flexCenter;

    .social-btn {
      margin: 10px 20px;
      color: $textColor;
    }
  }

  .footer-text {
    @include flexCenter;
  }
}
