@import "../../styles/mixins";
@import "../../styles/themes";

.footer-container {
  width: 100%;
  height: 90px;
  @include flexCenter;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(15, 14, 23, 0),
    rgba(15, 14, 23, 1)
  );

  .social-container {
    width: 100%;
    padding: 5px 0;
  }

  .footer-text {
    width: 100%;
    text-align: center;
    padding: 5px 10px;

    span {
      @include paragraphStyles;
      font-size: 0.8rem;

      a {
        margin: 0 0.3rem;
        @include paragraphStyles;
        font-size: 0.8rem;
        color: $linksColor;

        &:hover {
          text-decoration: underline;
        }
      }

      @media screen and (max-width: 480px) {
        font-size: 0.7rem;

        a {
          font-size: 0.7rem;
        }
      }
    }
  }
}
