@import "../../styles/themes";

.project-cover-container {
  &.featured {
    width: 100%;
    height: 100%;
    transform: translate(-15%, 0%);

    .cover-image {
      border: 2px solid $cardBorder;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;

      &:hover {
        filter: drop-shadow(0 0 0.5rem $cardHightlight);
      }
    }

    @media screen and (max-width: 1024px) {
      transform: translate(-10%, 0%);
    }

    @media screen and (max-width: 768px) {
      transform: none;
      .cover-image {
        height: 100%;
        border: none;
        border-radius: 20px 20px 0 0;
      }
    }
  }

  &.fun {
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    .cover-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    @media screen and (max-width: 480px) {
      height: 0px;
    }
  }
}
